[Desktop Entry]
Comment=Aurorae theme
Name=MetroDark
X-KDE-PluginInfo-Author=anachronox
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=anachronoxdesign@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Name=MetroDark
X-KDE-PluginInfo-Version=1.0
