[Desktop Entry]
Icon=image-jpeg
Name=Blacklight.jpg
Type=Link
URL[$e]=file:///usr/share/backgrounds/Blacklight.jpg
X-KDE-LastOpenedWith=plasma-desktop
