[Desktop Entry]
Icon=image-png
Name=netrunner-kmenu.png
Type=Link
URL[$e]=file:///usr/share/netrunner/netrunner-kmenu.png
X-KDE-LastOpenedWith=plasma-desktop
