[KSplash Theme: Enigma Horizon]
Name = Enigma Horizon Splash Screen
Description = Netrunner Enigma Splash Theme
Version = 1.1
Author = Anachronox
Homepage = http://www.netrunner-os.com/

#Based on TheLight wallpaper and Solar splash screen
#Name = Fedora 10 Solar Comet Splash Screen
#Description = Solar Comet Splash Theme for Fedora (gfx by Samuele Storari).
#Version = 1.0
#Author = Jaroslav Reznik <jreznik@redhat.com>
#Homepage = http://www.fedoraproject.org/


# Theme behaviour settings.
Engine = KSplashX
