Source: netrunner-default-settings
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: netrunner-default-settings
Architecture: all
Provides: netrunner-default-settings
Conflicts: kubuntu-settings-desktop
Replaces: netrunner-artwork (<< 1.0.84), plasma-desktopthemes-artwork
Breaks: netrunner-artwork (<< 1.0.84), plasma-desktopthemes-artwork
Depends: 
Description: Configuration of the Netrunner release.
  This package provides configuration files and scripted changes for the Netrunner release.
