[Desktop Entry]
Version=1.0
Name=GNOME MPlayer
Name[el]=GNOME MPlayer
Name[fr]=GNOME MPlayer
Name[ja]=GNOME MPlayer
Name[sr]=Гномов Мплејер
Name[sr@latin]=Gnomov Mplejer
Name[tr]=GNOME MPlayer
Name[ru]=GNOME MPlayer
GenericName=Media Player
GenericName[el]=Αναπαραγωγέας Πολυμέσων
GenericName[es]=Reproductor multimedia
GenericName[fi]=Multimediasoitin
GenericName[fr]=Lecteur multimédia
GenericName[ja]=メディアプレイヤー
GenericName[pl]=Odtwarzacz multimediów
GenericName[tr]=Çokluortam Oynatıcı
GenericName[ru]=Мультимедийный проигрыватель
GenericName[zh_CN]=媒体播放器
GenericName[zh_TW]=媒體播放器
Comment=Play your media
Comment[el]=Παίξτε οποιοδήποτε αρχείο ήχου ή βίντεο
Comment[es]=Reproduce tus archivos multimedia
Comment[fi]=Toista multimediatiedostoja
Comment[fr]=Lire vos média
Comment[ja]=動画や楽曲のメディアファイルを再生します
Comment[pl]=Odtwarzaj swoje multimedia
Comment[sr]=Пуштање мултимедијалних датотека
Comment[sr@latin]=Puštanje multimedijalnih datoteka
Comment[tr]=Ses ve görüntü oynatıcı
Comment[ru]=Воспроизведение мультимедиа
Comment[zh_CN]=播放常见格式媒体文件
Exec=gnome-mplayer %U
Icon=gnome-mplayer
OnlyShowIn=GNOME;
StartupNotify=true
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Video;Player;TV;
