[Desktop Entry]
Categories=AudioVideo;Player;Qt;
Comment[de]=Plays music and last.fm streams
Comment=Plays music and last.fm streams
Exec=clementine %U
GenericName[de]=Clementine Music Player
GenericName=Clementine Music Player
Icon=application-x-clementine
MimeType=x-content/audio-player;video/x-ms-asf;audio/x-wav;audio/x-vorbis+ogg;audio/x-vorbis+ogg;audio/x-vorbis+ogg;audio/x-speex;audio/x-scpls;audio/x-musepack;audio/x-ms-wma;audio/x-mpegurl;audio/x-mpegurl;audio/x-flac+ogg;audio/vnd.rn-realaudio;audio/vnd.rn-realaudio;audio/ogg;audio/mpeg;audio/mpeg;audio/mpeg;audio/mp4;audio/flac;audio/aac;application/ogg;application/ogg;
Name[de]=Clementine
Name=Clementine
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=clementine
Type=Application
Version=1.0
X-Ayatana-Desktop-Shortcuts=Play;Pause;Stop;Previous;Next;
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=

[Next Shortcut Group]
Exec=clementine --next
Name=Next
TargetEnvironment=Unity

[Pause Shortcut Group]
Exec=clementine --pause
Name=Pause
TargetEnvironment=Unity

[Play Shortcut Group]
Exec=clementine --play
Name=Play
TargetEnvironment=Unity

[Previous Shortcut Group]
Exec=clementine --previous
Name=Previous
TargetEnvironment=Unity

[Stop Shortcut Group]
Exec=clementine --stop
Name=Stop
TargetEnvironment=Unity
