[Desktop Entry]
Categories=System;TerminalEmulator;
Comment=standard terminal emulator for the X window system
Encoding=UTF-8
Exec=uxterm
Icon=xterm-color_48x48
Name=UXTerm
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.20
X-KDE-SubstituteUID=false
X-KDE-Username=
