[Desktop Entry]
Comment=
Exec=firefox -new-tab  http://www.facebook.com
Icon=/usr/share/icons/Netrunner/scalable/apps/facebook_icon.png
Name=Facebook
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
