[Desktop Entry]
Comment=
Exec=firefox -new-tab  http://www.gmail.com
Icon=/usr/share/icons/Netrunner/scalable/apps/Icon-Gmail-300x300.png
Name=Google Mail
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
