[Desktop Entry]
Categories=AudioVideo;Audio;Video;Player;TV;
Comment=Play your media
Exec=gnome-mplayer %U
GenericName=Media Player
Icon=gnome-mplayer
Name=GNOME MPlayer
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
