[Desktop Entry]
Comment=
Exec=firefox -no-remote -P "prism"  http://google.com/contacts
Icon=/usr/share/icons/Netrunner/scalable/apps/Icon-google-contacts.png
Name=Google Contacts
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
