[Desktop Entry]
Categories=Settings
Comment=Set Keyboard Input Method
Exec=im-config
Icon=input-keyboard
Name=Input Method
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
