[Desktop Entry]
Categories=Qt;KDE;Network;Email;
Comment=
Exec=kmail -caption "%c" %u
GenericName=Mail Client
Icon=kmail
MimeType=x-scheme-handler/mailto;
Name=KMail
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.kmail
X-DBUS-StartupType=Unique
X-DocPath=kmail/index.html
X-KDE-ServiceTypes=DBUS/Mailer
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
