[Desktop Entry]
Categories=Qt;KDE;Graphics;Office;
Comment=Create scalable vector drawings
Exec=karbon %u
GenericName=Scalable Graphics
Icon=karbon
InitialPreference=5
MimeType=application/vnd.oasis.opendocument.graphics;application/x-karbon;application/illustrator;image/x-eps;application/postscript;image/svg+xml;image/svg+xml-compressed;image/x-wmf;application/pdf;
Name=Karbon
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-Calligra-DefaultMimeTypes=application/vnd.oasis.opendocument.graphics,application/x-karbon,application/illustrator,image/x-eps,application/postscript,image/svg+xml,image/svg+xml-compressed,image/x-wmf,application/pdf
X-DocPath=http://userbase.kde.org/Karbon14
X-KDE-NativeMimeType=application/vnd.oasis.opendocument.graphics
X-KDE-ServiceTypes=Calligra/Application
X-KDE-SubstituteUID=false
X-KDE-Username=
