[Desktop Entry]
Categories=Qt;KDE;Network;WebBrowser;
Comment=
Exec=kfmclient openProfile webbrowsing
GenericName=Web Browser
Icon=konqueror
Name=Konqueror
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DocPath=konqueror/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
