[Desktop Entry]
Categories=Qt;KDE;Graphics;Office;Viewer;
Comment=
Exec=okular %U %i -caption "%c"
GenericName=Document Viewer
Icon=okular
InitialPreference=7
MimeType=application/vnd.kde.okular-archive;
Name=Okular
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DocPath=okular/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
