[Desktop Action sendFile]
Exec=ktp-send-file %u
Icon=telepathy-kde
Name=Send file to IM contact

[Desktop Entry]
Actions=sendFile;
Comment=
Exec=
MimeType=all/allfiles;
Name=
NoDisplay=true
Path[$e]=
ServiceTypes=KonqPopupMenu/Plugin
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Service
X-KDE-SubstituteUID=false
X-KDE-Username=
