[Desktop Entry]
Categories=Qt;KDE;Office;ContactManagement;
Comment=
Exec=kaddressbook %u
GenericName=Contact Manager
Icon=kaddressbook
Name=KAddressBook
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DocPath=http://userbase.kde.org/KAddressBook
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
