[Desktop Entry]
Categories=Qt;KDE;AudioVideo;Player;
Comment=
Exec=dragon %u
GenericName=Video Player
Icon=dragonplayer
MimeType=video/ogg;video/x-theora+ogg;video/x-ogm+ogg;video/x-ms-wmv;video/x-msvideo;video/x-ms-asf;video/x-matroska;video/mpeg;video/avi;video/quicktime;video/vnd.rn-realvideo;video/x-flic;video/mp4;
Name=Dragon Player
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
TryExec=dragon
Type=Application
Version=1.0
X-DocPath=dragonplayer/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
