[Desktop Entry]
Comment=Launch the import wizard to migrate data from mailer as thunderbird/evolution etc.
Exec=importwizard
Icon=kontact-import-wizard
Name=Import Wizard
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
