[Desktop Entry]
Categories=Qt;KDE;Utility;
Comment=
Exec=akonaditray
GenericName=Akonadi Tray Utility
Icon=akonadi
Name=Akonaditray
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
