[Desktop Entry]
Categories=Qt;KDE;Network;News;
Comment=A KDE News Feed Reader
Exec=akregator %i -caption "%c"
GenericName=Feed Reader
Icon=akregator
Name=Akregator
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-StartupType=Unique
X-DocPath=akregator/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
