[Desktop Entry]
Categories=Qt;KDE;Core;
Comment=
Exec=kfind %u
Icon=kfind
Name=Find Files/Folders
NoDisplay=true
OnlyShowIn=KDE;
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DocPath=kfind/index.html
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
