[Desktop Entry]
Comment=
Exec=krunner
GenericName=
Icon=applications-system
MimeType=
Name=Krunner
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
