[Desktop Entry]
Categories=Qt;KDE;Utility;Office;Monitor;X-KDE-Utilities-PIM;
Comment=
Exec=ktimetracker
GenericName=Personal Time Tracker
Icon=ktimetracker
Name=KTimeTracker
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-StartupType=Multi
X-DocPath=ktimetracker/index.html
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
