[Desktop Entry]
Categories=Qt;KDE;Core;
Comment=
Exec=khelpcenter
Icon=help-browser
Name[fr]=Aide
Name=Help
NoDisplay=true
OnlyShowIn=KDE;
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DocPath=khelpcenter/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
