[Desktop Entry]
Categories=Qt;KDE;Network;InstantMessaging;
Comment=Displays your KDE Instant Messenger logs
Exec=ktp-log-viewer %u
GenericName=KDE Instant Messenger Log Viewer
Icon=documentation
Name=Telepathy Logview
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-StartupType=Unique
X-KDE-SubstituteUID=false
X-KDE-Username=
