[Desktop Entry]
Categories=Office;Graphics;
Comment=Create and edit drawings, flow charts, and logos by using Draw.
Exec=libreoffice --draw %U
GenericName=Drawing Program
Icon=libreoffice-draw
InitialPreference=5
MimeType=application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-flat-xml;application/vnd.oasis.opendocument.graphics-template;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;application/vnd.visio;
Name=LibreOffice Draw
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Version=1.0
X-Ayatana-Desktop-Shortcuts=New
X-KDE-SubstituteUID=false
X-KDE-Username=

[New Shortcut Group]
Exec=libreoffice --draw %U
Name=New Drawing
TargetEnvironment=Unity
