[Desktop Entry]
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Other;
Comment=The office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.
Exec=libreoffice %U
GenericName=Office
Icon=libreoffice-startcenter
MimeType=application/vnd.openofficeorg.extension;
Name=LibreOffice
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
