[Desktop Entry]
Comment[en_US]=Qt4-based Multimedia Player
Comment=Qt4-based Multimedia Player
Exec=qmmp -e %F
GenericName[en_US]=Audio player
GenericName=Audio player
MimeType=inode/directory;audio/x-vorbis+ogg;audio/x-scpls;audio/x-musepack;audio/x-ms-wma;audio/x-mpegurl;audio/x-mod;audio/x-it;audio/x-ape;audio/mpeg;audio/mpeg;audio/mpeg;audio/mpeg;audio/flac;application/x-cue;application/ogg;application/ogg;
Name[en_US]=Qmmp
Name=Qmmp
NoDisplay=true
Path[$e]=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
