[Desktop Entry]
Comment=Audio Player
Exec=qmmp %F
GenericName=Audio Player
Icon=qmmp
MimeType=application/x-ogg;audio/mp3;audio/mpeg;audio/x-flac;audio/x-mp3;audio/x-mpeg;audio/x-ms-wma;audio/x-musepack;application/ogg;audio/x-vorbis+ogg;audio/x-scpls;audio/x-mpegurl;audio/x-it;audio/x-mod;audio/x-ape;application/x-cue;audio/x-ffmpeg-shorten;inode/directory;
Name=Qmmp
NoDisplay=false
Path[$e]=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.11
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
