[Desktop Entry]
Categories=Screensaver;
Comment=Electric Sheep is a distributed screen-saver that harnesses idle computers into a render farm with the purpose of animating and evolving artificial life-forms.
Exec=electricsheep --root 1
Name=ElectricSheep
NoDisplay=true
OnlyShowIn=GNOME;KDE;XFCE;
Path[$e]=
StartupNotify=false
Terminal=0
TerminalOptions=
TryExec=electricsheep
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
