[Desktop Entry]
Categories=Emulator;System;X-MandrivaLinux-System;Application;
Comment=Run several virtual systems on a single host computer
DocPath=file:///usr/share/doc/virtualbox-4.2/UserManual.pdf
Encoding=UTF-8
Exec=VirtualBox %U
GenericName=Virtual Machine
Icon=virtualbox
MimeType=application/x-virtualbox-vbox;application/x-virtualbox-vbox-extpack;application/x-virtualbox-ovf;application/x-virtualbox-ova;
Name=Oracle VM VirtualBox
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
TryExec=VirtualBox
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
