[Desktop Entry]
Comment=
Exec=firefox -P prism -new-tab s  http://www.netrunner-os.com/readme/
Icon=/usr/share/icons/Netrunner/scalable/apps/Icon-welcome.png
Name=Welcome Introduction
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
