[Desktop Entry]
Comment=
Exec=firefox -new-tab  http://www.youtube.com
Icon=/usr/share/icons/Netrunner/scalable/apps/youtube_icon.png
Name=Youtube
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
