[Desktop Entry]
Name=Androbit

Comment=The best KDE4 plasma theme. Inspired by Android, developed with software ergonomy.
X-KDE-PluginInfo-Author=Makay József
X-KDE-PluginInfo-Email=makay(at)androbit.org
X-KDE-PluginInfo-Name=Androbit
X-KDE-PluginInfo-Version=4.10
X-KDE-PluginInfo-Website=http://androbit.org
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
