[Desktop Entry]
Name=Caledonia
Comment=Elegant and minimalist dark theme
Comment[es]=Tema oscuro elegante y minimalista
Comment[x-test]=xxElegant and minimalist dark themexx

X-KDE-PluginInfo-Author=Malcer
X-KDE-PluginInfo-Email=malcer@gmx.com
X-KDE-PluginInfo-Name=Caledonia
X-KDE-PluginInfo-Version=1.2
X-KDE-PluginInfo-Website=http://ext4.wordpress.com/ || http://malcer.deviantart.com/
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=Creative Commons BY-SA 3.0
X-KDE-PluginInfo-EnabledByDefault=true

