[Desktop Entry]
Comment[de]=
Comment=
Encoding=UTF-8
Exec=synapse --startup
GenericName[de]=
GenericName=
Icon=synapse
MimeType=
Name[de]=Synapse
Name=Synapse
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-Autostart-enabled=true
X-KDE-SubstituteUID=false
X-KDE-Username=
