[Desktop Entry]
Name=pattern

X-KDE-PluginInfo-Name=pattern
X-KDE-PluginInfo-Author=Malcer
X-KDE-PluginInfo-Email=malcer.deviantart.com
X-KDE-PluginInfo-License=CreativeCommons-BY-SA
